/*  your css code here. If applicable */
body{
	background-color:rgb(135, 206, 235);
}
p:first-child{
	color:white;
	background-color:black;
}
p:nth-child(2){
	color:rgb(238, 130, 238);
}
p:last-child{
	color:red;
}
li{
	background-color:grey;
	width:50%;
	padding:10px;
}
li:nth-child(odd){
	background-color:white;
}
li:first-child{
	font-size:22px;
}
li:last-child{
	font-size:22px;
	background-color:rgb(238, 130, 238);
}
li:nth-child(3){
	background-color:pink;
}
